.report-nav {
    display: flex;
    justify-content: center;
    padding: 44px 0 0;
    align-items: center;
}

.report-nav > h2 {
    flex: 1;
    text-align: center;
    padding: 0 8px;
    text-transform: uppercase;
}

.main-content-report {
    padding: 32px;
}

.sect {
    margin-bottom: 8px;
}

.report-nav > button {
    border: none;
    padding: 8px 16px;
    height: fit-content;
}

.next-button {
    background-color: #F15A22;
}

.back-button {
    background-color: #112444;
    color: #fff;
}

.hide {
    visibility: hidden;
}

#report-svg {
    width: 70vw;
    display: block;
    margin: auto;
    padding: 32px 0;
}
@media only screen and (min-width: 768px) { /*tablet breakpoint*/
    #report-svg {
        width: 50vw;
    }
}
@media only screen and (min-width: 1024px) { /*laptop breakpoint*/
    #report-svg {
        width: 20vw;
    }
}

.end {
    text-align: center;
}
.end p:nth-child(odd) {
    font-weight: bold;
}
.end p:nth-child(even) {
    padding-bottom: 8px;
}

.scores {
    padding: 32px 0;
}

#finish-button {
    margin-bottom: 44px;
}