.report-nav {
    display: flex;
    justify-content: center;
    padding: 44px 0 16px;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    background: #fff;
}

.report-nav > h2 {
    flex: 1;
    text-align: center;
    padding: 0 8px;
    text-transform: uppercase;
}

.main-content-report {
    padding: 144px 32px 96px;
}

.sect {
    margin-bottom: 8px;
}

.report-nav > button {
    border: none;
    padding: 8px 16px;
    height: fit-content;
}

.next-button {
    background-color: #F15A22;
}

.back-button {
    background-color: #112444;
    color: #fff;
}

.hide {
    visibility: hidden;
}

#report-svg {
    width: 70vw;
    display: block;
    margin: auto;
    padding: 32px 0;
}
@media only screen and (min-width: 768px) { /*tablet breakpoint*/
    #report-svg {
        width: 50vw;
    }
}
@media only screen and (min-width: 1024px) { /*laptop breakpoint*/
    #report-svg {
        width: 20vw;
    }
}

.end {
    text-align: center;
}
.end p:nth-child(odd) {
    font-weight: bold;
}
.end p:nth-child(even) {
    padding-bottom: 8px;
}

.scores {
    padding: 32px 0;
}

#finish-button {
    margin-bottom: 44px;
}

.question {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-end;
    margin-bottom: 16px;
}
.question > p {
    margin-right: 16px;
}
.question > input {
    margin-left: 8px;
}

.icon {
    text-align: center;
    display: flex;
    align-items: flex-end;
}

.checkbox {
    border: 1px solid #112444;
    padding: 4px;
    border-radius: 4px;
    width: 28px;
    height: 28px;
}

.score-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #112444;
    padding: 16px 32px;
    position: fixed;
    bottom: 0;
    width: 100vw;
}
.score-bar h2 {
    color: #fff !important;
}

.photo-flap, .deadline-div {
    background: #F15A22;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px;
    color: #fff;
}

.photo-flap > h2, .deadline-div > p {
    color: #fff;
}

input[type=date] {
    border: none;
    background: none;
    font-weight: 275;
    color: #fff;
}
.save {
    display: flex;
    justify-content: center;
    align-items: center;
}