h1 { font-size: 32px; font-family: Poppins; font-weight: bold; margin: 0; }
h2 { font-size: 24px; font-family: Poppins; font-weight: 275; margin: 0; }
h3 { font-size: 20px; font-family: Poppins; font-weight: 275; margin: 0; }
p { font-size: 16px; font-family: Poppins; font-weight: 275; margin: 0; }
h6 { font-size: 12px; font-family: Poppins; font-weight: 200; margin: 0; }

body {
    margin: 0;
}

.box-shadow {
    background: #fff; 
    border-radius: 8px;
    box-shadow: 0px 0px 16px 4px #ccc; 
    width:fit-content;
    padding: 32px;
    margin-bottom: 32px;
}

.primary-button {
    border-radius: 50px;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 275;
    color: #fff;
    background-color: #203E70;
    padding: 8px 16px;
}

.tab-active {
    border-bottom: 2px solid #F15A22 !important;
    padding: 8px 16px;
}

.tab {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #e5e5e5;
    padding: 8px 16px;
    margin: 0px 4px;
}

.tab-bar {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

input {
    font-size: 16px;
    font-family: Poppins;
    font-weight: 275;
    margin-bottom: 8px;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #e5e5e5;
}

.top-flap {
    border-radius: 0 0 16px 16px;
    background-color: #112444;
    color: #fff;
    padding: 44px 32px 16px 32px;
    box-shadow: 0px 0px 16px 4px #ccc; 
}

.main-content {
    padding: 32px;
    background-color: #fff;
    margin-bottom: 80px;
    font-family: Poppins;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 16px 4px #ccc; 
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar > div {
    padding: 16px;
    margin: 0;
}

.navbar > div > button {
    font-size: 20px;
    color: #92A8C0;
    border: none;
    outline: none;
    background-color: white;
}

#new-report > i {
    font-size: 48px;
}

.nav-active > i {
    color: #112444 !important;
}

.navbar-tenant > div {
    padding: 30px !important;
}

.fancyArrow {
    width: 10px;
    height: 10px;
    border-top: 2px solid #112444;
    border-right: 2px solid  #112444;
    transform: rotate(45deg);
    margin: 5px;
    border-radius: 15%;
}

.button:hover{
    color: #112444;
}

#new-report > i:hover {
    color: #92A8C0;
}

.button:active{
    color: #112444;
}

#new-report > i:active {
    color: #92A8C0;
}

p.title {
    font-weight: bold;
}

.form{
    position:relative;
    left: 8%;

}

.noti{
    color: #203E70;
    font-size: 32px;

}

.notification{
    border: 40px;
    margin: 10px;
    padding: 5px;
    font-size: 22px;
    box-shadow: 0px 0px 16px 4px #ccc;
    border-radius: 8px;

}
.notification > i{
    margin-right: 8px;
    margin-left: 5px;

}

@media only screen and (min-width: 768px) { /*tablet breakpoint*/
    
}

@media only screen and (min-width: 1024px) { /*laptop breakpoint*/
    
}