h1 { font-size: 32px; font-family: Tahoma; font-weight: bold; margin: 0; }
h2 { font-size: 24px; font-family: Tahoma; font-weight: 275; margin: 0; }
h3 { font-size: 20px; font-family: Tahoma; font-weight: 275; margin: 0; }
p { font-size: 16px; font-family: Tahoma; font-weight: 275; margin: 0; }
h6 { font-size: 12px; font-family: Tahoma; font-weight: 200; margin: 0; }

h1, h2, h3, p, h6 {
    color: #444444;
}

body {
    margin: 0;
}

.box-shadow {
    background: #fff; 
    border-radius: 8px;
    box-shadow: 0px 0px 16px 4px #ccc; 
    width:fit-content;
    padding: 32px;
    margin-bottom: 32px;
}

.primary-button {
    border-radius: 50px;
    font-size: 16px;
    font-family: Tahoma;
    font-weight: 275;
    color: #fff;
    background-color: #203E70;
    padding: 8px 16px;
}

.tab-active {
    border-bottom: 2px solid #F15A22 !important;
    padding: 8px 16px;
}

.tab {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #e5e5e5;
    padding: 8px 16px;
    margin: 0px 4px;
}

.tab-bar {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.form input {
    position: fixed;
    font-size: 16px;
    font-weight: 275;
    margin-top: 125px;
    margin-bottom: 12px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #e5e5e5;
    width: 85%;
    box-sizing: border-box;
    background-color: white;
}

.top-flap {
    position: fixed;
    width: 100%;
    border-radius: 0 0 24px 24px;
    background-color: #112444;
    box-shadow: 0px 0px 16px 4px #ccc;
    z-index: 2;
    height: 110px;
}

.top-flap p{
    color: #ffffff;
    position: absolute;
    left: 32px;
    top:  55%;
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    box-sizing: border-box;
    transform: translateY(-50%);
}

.top-flap p span{
    font-weight: normal;
    font-size: 0.75em;
}

.main-content {
    padding: 134px 32px 32px 32px;
    background-color: #fff;
    margin-bottom: 80px;
    font-family: Tahoma;
}

.main-content .home h2{
    font-size: 18px;
}

.directory{
    padding-top: 180px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 16px 4px #ccc; 
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar > div {
    padding: 16px;
    margin: 0;
}

.navbar > div > button {
    font-size: 20px;
    color: #92A8C0;
    border: none;
    outline: none;
    background-color: white;
}

.navbar > div > i {
    color: #112444 !important;
    font-size: 20px;
}

#new-report > i {
    font-size: 36px;
}

.navbar-tenant > div {
    padding: 30px !important;
}

.fancyArrow {
    width: 10px;
    height: 10px;
    border-top: 2px solid #112444;
    border-right: 2px solid  #112444;
    transform: rotate(45deg);
    margin: 5px;
    border-radius: 15%;
}

.button:hover{
    color: #112444;
}

#new-report > i:hover {
    color: #92A8C0;
}

.button:active{
    color: #112444;
}

#new-report > i:active {
    color: #92A8C0;
}

.main-content p.title {
    font-weight: bold;
}

.noti{
    color: #203E70;
    font-size: 24px;
    padding-bottom: 8px;

}

.notification-box{
    border: 40px;
    margin: 12px 0px;
    padding: 8px;
    padding-bottom: 12px;
    font-size: 18px;
    box-shadow: 0px 0px 16px 4px #ccc;
    border-radius: 8px;
}

.notification-box > i{
    margin-right: 16px;
    margin-left: 5px;
    display: inline-block;
}

@media only screen and (min-width: 768px) { /*tablet breakpoint*/
    
}

@media only screen and (min-width: 1024px) { /*laptop breakpoint*/
    
}