@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 { font-size: 32px; font-family: 'Poppins', sans-serif; font-weight: bold; margin: 0; }
h2 { font-size: 24px; font-family: 'Poppins', sans-serif; font-weight: 275; margin: 0; }
h3 { font-size: 20px; font-family: 'Poppins', sans-serif; font-weight: 275; margin: 0; }
p { font-size: 16px; font-family: 'Poppins', sans-serif; font-weight: 275; margin: 0; }
h6 { font-size: 12px; font-family: 'Poppins', sans-serif; font-weight: 200; margin: 0; }

h1, h2, h3, p, h6 {
    color: #444444;
}
.floatRight{
    float:right;margin-right:80px; 
    margin-top:40px;
    width: 125px;
    height: 125px
}

body {
    margin: 0;
}

.box-shadow {
    background: #fff; 
    border-radius: 8px;
    box-shadow: 0px 0px 16px 4px #ccc; 
    width:fit-content;
    padding: 32px;
    margin-bottom: 32px;
}

.primary-button {
    border-radius: 50px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 275;
    color: #fff;
    width: 174px;
    background-color: #134074;
    padding: 2px 16px;
}

.tab {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #e5e5e5;
    padding: 8px 16px;
    margin: 0px 4px;
}

.tab-active {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #F15A22;
    padding: 8px 16px;
    margin: 0px 4px;
}

.tab-bar {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.form input {
    position: fixed;
    font-size: 16px;
    font-weight: 275;
    margin-top: 125px;
    margin-bottom: 12px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #e5e5e5;
    width: 85%;
    box-sizing: border-box;
    background-color: white;
}

.form-input i {
    position: absolute;
    color:#134074;
    padding-top: 5px;
    padding-left: 5px;
    min-width: 40px;
}
  
.form-input input{
    width: 100%;
    text-align:left;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 25px;
    margin-bottom: 12px;
    border: 1px solid #134074;
    border-radius: 6px;
}

.error{
    font-size: 12px;
    max-width: 174px;
    margin-top: 8px;
}

.signUpError{
    font-size: 12px;
    max-width: 140px;
    margin-top: 6px;
    display: inline-block;
    text-align: left;
    position: absolute;
    left: 38px;
}

.signup-link{
    font-size: 9px;
    max-width: 174px;
    text-align: center;
}

.signup-link button{
    font-size: 9px;
    text-align: center;
    background-color: white;
    border: none;
    border-bottom: 1px solid #134074;
    color: #134074;
}


.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content{
    width: 280px;
    height: 300px;
    background-color: white;
    border-radius: 12px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.modal-content button{
    width: 168px;
    background-color: rgb(146, 146, 146);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px auto;
}
#signUpForm{
    position: relative;
}

.signUpForm-input i {
    position: absolute;
    color:#999;
    padding: 1px 4px 4px 4px;
    left: 35px;
}
  
.signUpForm-input input{
    width: 70%;
    display: block;
    margin: 15px auto;
    border: none;
    border-bottom: 2px solid #e5e5e5;
    text-align:left;
    padding-left: 28px;
}

.close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 30px;
    transform: rotate(45deg);
    cursor: pointer;
}

.top-flap {
    position: fixed;
    width: 100%;
    border-radius: 0 0 24px 24px;
    background-color: #F15A22;
    box-shadow: 0px 0px 8px 2px #ccc;
    z-index: 2;
    height: 110px;
}

.top-flap p{
    color: #ffffff;
    position: absolute;
    left: 32px;
    top:  55%;
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    box-sizing: border-box;
    transform: translateY(-50%);
}

.top-flap p span{
    font-weight: normal;
    font-size: 0.75em;
}

.main-content {
    padding: 134px 32px 32px 32px;
    background-color: #fff;
    margin-bottom: 80px;
    font-family: Tahoma;
}

.main-content .home h2{
    font-size: 18px;
}

.directory{
    padding-top: 180px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 5px 1px #F15A22; 
    position: fixed !important;
    bottom: 0;
    width: 100%;
    margin: 0 !important;
}

.navbar > div {
    padding: 16px;
    margin: 0;
}

.navbar > div > button {
    font-size: 20px;
    color: #92A8C0;
    border: none;
    outline: none;
    background-color: white;
}

.navbar > div > i {
    color: #F15A22 !important;
    font-size: 20px;
}

#new-report > i {
    font-size: 36px;
}

.navbar-tenant > div {
    padding: 30px !important;
}

.fancyArrow {
    width: 10px;
    height: 10px;
    border-top: 2px solid #112444;
    border-right: 2px solid  #112444;
    transform: rotate(45deg);
    margin: 5px;
    border-radius: 15%;
}

.button:hover{
    color: #112444;
}

#new-report > i:hover {
    color: #92A8C0;
}

.button:active{
    color: #112444;
}

#new-report > i:active {
    color: #92A8C0;
}

.noti{
    color: #134074;
    font-size: 24px;
    padding-bottom: 8px;

}

.notification-box{
    border: 40px;
    margin: 12px 0px;
    padding: 8px;
    padding-bottom: 12px;
    font-size: 18px;
    box-shadow: 0px 0px 16px 4px #ccc;
    border-radius: 8px;
}

.notification-box > i{
    margin-right: 16px;
    margin-left: 5px;
    display: inline-block;
}

@media only screen and (min-width: 768px) { /*tablet breakpoint*/
    
}

@media only screen and (min-width: 1024px) { /*laptop breakpoint*/
    
}

@media only screen and (max-width: 535px) { /*tablet breakpoint*/
    .top-flap img{
        display: none;
    }
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    font-family: "Poppins", sans-serif;
}

.container{
    position:relative;
    width:auto;
}

.container h2{
    color: #999;
    margin-bottom: 45px;
}

.container button{
    font-size: 14px;
}

.input-field{
    position: relative;
    height: 40px;
    width: 100%;
}

.input-field input[type="text"]
{
    position: absolute;
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 16px;
    color:  #F15A22;
    width: 100%;
}
.input-field label{
    position: absolute;
    top: 0;
    left: 0;
    color: #555;
    pointer-events: none;
    display: block;
    transition: 0.5s;
}
.input-field input[type="text"]:focus + label,
.input-field input[type="text"]:valid + label{
    transform: translateY(-30px);
    font-size: 14px;
    color: #fff;
    background: #F15A22;
    padding: 2px 6px;
}
.input-field span{
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    background: #555;
    width: 100%;
    height: 2px;
}
.input-field span:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F15A22;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}

.input-field input[type="text"]:focus ~ span:before,
.input-field input[type="text"]:valid ~ span:before{
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;

}

.wrapper textarea{
    outline: #F15A22;
    padding: 5px;
    width: 400px;
    height: 200px;
    resize:vertical;
}

.wrapper span{
    color: #F15A22;
    float: right;
}

#search {
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #e5e5e5;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 275;
}

.tenant-text {
    font-weight: bold;
}

.announcement-text {
    font-weight: bold;
}

.card {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#list > hr {
    margin-bottom: 8px;
}

#wrapper{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.loading-spinner{
    width: 8rem;
    height: 8rem;
    display: inline-block;
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #F15A22;
    margin-bottom: 25rem;
    margin-top: 25rem;
    animation: 1s spin infinite ease-in-out;
}

@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}