.main-content-view-report {
    padding: 144px 32px 172px;
}

.startEnd {
    text-align: center;
}
.startEnd > div {
    padding: 32px 0 0;
}

.score-bar-view-report {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #112444;
    padding: 16px 32px;
}
.score-bar-view-report h2 {
    color: #fff !important;
}

.bottom-items {
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.photo-flap {
    background: #F15A22;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 32px;
}

.chat-flap {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 32px;
}

#photos {
    padding: 4px 24px;
    background: #fff;
    border-bottom: #F15A22 solid 2px;
    max-height: 250px;
    overflow-y: scroll;
}

.photos-row {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.photos-column {
    margin: 4px;
    flex: 0 1 50px;
}

.photos-column > div {
    width: 25vw;
    max-width: 150px;
    height: 25vw;
    max-height: 150px;
    overflow: hidden;
}

.photos-column > div > img {
    width: inherit;
}

.gallery {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.gallery-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
    height: auto;
}

/* The Close Button */
.close-button {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.gallery-slide {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.active {
    opacity: 1;
}

div.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#chat-bubbles {
    padding: 4px 24px;
    background: #fff;
    max-height: 250px;
    overflow-y: scroll;
}

#send-msg-area {
    display: flex;
    background: #fff;
    align-items: center;
    padding: 16px 32px;
}

#send-msg-area > * {
    margin: 4px;
}

#textMsg {
    flex: 1;
    border: none;
    border-bottom: black 1px solid;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 275;
}

.bubble {
    display: flex;
    margin: 8px 0;
}

.bubble > img {
    height: 48px;
    margin: 4px;
}

.bubble > .message-box > p {
    flex: 1;
    max-width: 400px;
    margin: 4px;
}

#bubbles {
    display: flex;
    flex-direction: column;
}

.left {
    align-self: flex-end;
}
.right {
    align-self: flex-start;
}

.left > .message-box {
    padding: 8px;
    background-color: #d8d8d8;
    border-radius: 8px;
}

.right > .message-box {
    padding: 8px;
    background-color: #ecab93;
    border-radius: 8px;
}